.bio {
  margin: 2% 0;
}

.bio-form {
  background-color: #F5F5F5;
  padding: 30px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.profile-header {
  margin: 0 10px;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.tabs-container {
  width: 70%;
  height: auto;
  font-size: 2em;
}

.upload-form {
  background-color: #F5F5F5;
  margin: 15%;
  padding: 5%;
  height: 70vh;
  overflow-y: scroll;
}

.upload-form-container {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.user-basics {
  width: 30%;
  height: auto;
}
